@import url(Header.css);
@import url(ScrollContainer.css);
@import url(HC3.css);
@import url(HC6.css);

* {    
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height:100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}